{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": false,
  "jsxBracketSameLine": true,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "printWidth": 100,
  "importOrder": [
    "^@.*$",
    "^assets/(.*)$",
    "^api/(.*)$",
    "^components/(.*)$",
    "^navigation/(.*)$",
    "^sections/(.*)$",
    "^utilities/(.*)$",
    "^[.]/(.*)$"
  ]
}
